/*
Theme Name: FWSS2018
Theme Description: Theme für die Webseite der Freiwilligen Feuerwehr Schieder-Schwalenberg. Made with ❤️ and Bootstrap 4.
Author: flomei, Florian Meier
URI: http://www.flomei.de
*/

@font-face {
    font-family: 'Droid Sans Regular';
    src: url('./fonts/droidsans-webfont.woff2') format('woff2'),
         url('./fonts/droidsans-webfont.woff') format('woff'),
         url('./fonts/droidsans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Droid Sans Bold';
    src: url('./fonts/droidsans-bold-webfont.woff2') format('woff2'),
         url('./fonts/droidsans-bold-webfont.woff') format('woff'),
         url('./fonts/droidsans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
	font-family: 'Droid Sans Regular', sans-serif;
	font-size: 1.1rem;
}

body {
	overflow-x:hidden;
}

a {
	color:#aa0c0c;
}

.navbar {
	background-color:#aa0c0c;
	color:#fff;
}

.navbar li a { color:#fff; }
.navbar li a:hover { color:#000; }
.dropdown-menu { background-color:#aa0c0c; }
.dropdown-item.active, .dropdown-item:active {
	color:#000;
	background-color:#fff;
}
.navbar-toggler { 
	border:1px solid #fff;
	padding:.25rem .5rem;
}
.navbar-toggler i.icon-menu { color:#fff; }

a#logo {
	margin-top:10px;
	margin-bottom:10px;
}

a#logo img { max-width: 100%; }
a.headline-link:hover { text-decoration: none; }
.share-btn a { margin-right:.5em; }

h1, h2, h3, h4, a.headline-link {
	color:#aa0c0c;
	font-family: "Droid Sans Bold";
	font-size: 1.5rem;
}

.btn-primary {
    background-color:#aa0c0c;
    border-color:#aa0c0c;
}

.btn-primary:hover {
	background-color:#fff;
    border-color:#aa0c0c;	
	color:#000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color:#aa0c0c;
    border-color:#aa0c0c;	
}

.row.news-entries {
	margin-top: 2em;
}

.news-entry { 
	padding-bottom: 4em;
	margin-bottom: 4em;
}

.news-entry .entry-meta {
	display: block;
	margin-bottom: .5em;
}

.news-entry .readmore-link {
	display: block;
	margin-top: .5em;
}

.single-entry {
	margin-top: 2em;
}

.content img {
	max-width:100%;
	height:auto;
}

footer {
	background-color:#aa0c0c;
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
}

footer a, footer a:hover { color:#fff; border-bottom:1px solid #fff; text-decoration:none; }

section.ics-calendar { opacity: inherit !important; }
section.ics-calendar h4 { font-size: 1rem; }

video {
	max-width: 100%;
}

@media (max-width: 768px) {
	.img-fluid { margin-bottom: 1em; }
	.news-entry {
		padding-bottom: 0;
		margin-bottom: 2em;
	}
}
  